pbr>2.1.0 # Apache 2.0
git+https://github.com/albertodonato/snap-helpers#egg=snap-helpers # LGPLv3
click>=8.1.3 # BSD
rich # MIT

# Set upper bound to match Juju 3.0.x series target
juju<3.1 # Apache 2

# Used for communication with snapd socket
requests # Apache 2
requests-unixsocket # Apache 2

pydantic # MIT
semver # BSD-3

# Used for getting local ip address
netifaces

# Generation of user passwords
pwgen

#git+https://github.com/openstack-charmers/zaza.git#egg=zaza
